.main {
	position: relative;
	min-height: 85vh;
	margin-top: 5em;
	padding: 0 10em;
	@include mq(700px) {
		padding: 0 5em;
	}
	@include mq(440px) {
		padding: 0 2em;
	}
	&__form {
		display: flex;
		@include flex();
		justify-content: space-between;
		@include mq(700px) {
			flex-direction: column;
			align-items: flex-start;
		}
		.form__search {
			display: flex;
			@include flex();
			justify-content: space-between;
			min-height: 5em;
			@include WH(40%, 5vh);
			background-color: map-get($lightColors, whiteTheme);
			box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
			border-radius: 5px;
			& > * {
				height: 100%;
			}
			@include mq(700px) {
				margin-bottom: 5em;
				box-shadow: none;
			}
		}
		.form__icon {
			font-size: 1.5rem;
			margin: 0 2em;
		}
		.form__input {
			min-width: 20em;
			flex-grow: 1;
			border: none;
			color: map-get($darkColors, darkGrayInput);
			font-weight: map-get($fontWeights, lightWeight);
			&:focus {
				outline: none;
			}
			@include mq(440px) {
				min-width: 15em;
			}
		}
		.form__select {
			padding: 1em;
			border: none;
			box-shadow: 0px 5px 15px map-get($darkColors, boxShadowDarkColor);
			border-radius: 5px;
			cursor: pointer;
			&-option {
				background-color: map-get($lightColors, whiteTheme);
			}
		}
	}
}
