@mixin flex($flexDir: row, $align: center, $justify: center) {
	flex-direction: $flexDir;
	align-items: $align;
	justify-content: $justify;
}

@mixin mq($media) {
	@media (max-width: $media) {
		@content;
	}
}

@mixin WH($width, $height) {
	width: $width;
	height: $height;
}

@mixin positioning($position, $bottom: 0, $left: 0) {
	position: $position;
	bottom: $bottom;
	left: $left;
}

@mixin box-shadow($h: 10px, $v: 10px, $b: 0px, $s: 0px, $c: #000000) {
	box-shadow: $h $v $b $s $c;
}
